<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        
        <form onsubmit="forgotpassword(event)" class="row g-3">
            <div class="col-auto">
              <label for="Email2" >Email</label>
              <input type="email" name="email" required r class="form-control-plaintext" value="email@example.com">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-3">reset password</button>
            </div>
          </form>
    </div>
    <script src="/javascript/forgot.js"></script>
    <script src="/javascript/axios.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
    integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js" integrity="sha512-3dZ9wIrMMij8rOH7X3kLfXAzwtcHpuYpEgQg1OA4QAob1e81H8ntUQmQm3pBudqIoySO5j0tHN4ENzA6+n2r4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script> -->
</body>
</html>